body {
  min-width: 1100px; /*es así o con flexbox?*/
  max-width: 1600px;
  height: 100vh;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  overflow-x: auto;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px 80px;
}

.logo {
  position: relative;
  left: -50px;
  height: 39px;
  width: 105px;
}

.nav {
  align-self: flex-start;
  width: 100%;
}

.nav-links {
  margin: 0;
  list-style: none;
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: -54px;
  text-decoration: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.header-image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header-title {
  margin-top: 213px;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  font-weight: 500;
  max-width: 709px;
  padding: 0;
  margin-bottom: 28px;
}

.span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  display: block;
  font-style: italic;
  color: #ff976b;
  font-weight: normal;
}

.header-description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  padding: 0;
}

.header-info {
  display: flex;
  color: #6f6f6f;
  justify-content: space-between;
  margin-top: auto;
  margin-block-end: 0;
}

.header-hours p {
  margin: 0;
}

.header-info div:nth-of-type(2) {
  padding-top: 20px;
}

.content {
  min-width: 1100px; /*es así o con flexbox?*/
  max-width: 1600px;
  margin: 0 auto;
  height: 987px;
  background-image: url("../images/background_reservation.svg");
  background-color: #ffd6c5;
  background-size: cover;
}

.form__container {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 100px 0px 120px;
}

.form__title {
  font-size: 44px;
  line-height: 52px;
  margin: 0px 0px 80px;
}

.form {
  max-width: 385px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
}

.form__input {
  margin-top: 8px;
  margin-bottom: 32px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  height: 60px;
  color: #838383;
}

.form__input-datetime {
  display: block;
  margin: 0;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 32px;
  box-sizing: border-box;
  height: 60px;
}

.form__button {
  border-radius: 4px;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #e96e3a;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  border: none;
  margin-bottom: 32px;
}

.form__checkbox {
  margin-right: 12px;
  width: 20px;
  height: 20px;
  border-color: 4F4F4F;
  border-radius: 4px;
}

.form__label-term {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
